.gutter {
  cursor: col-resize;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
}

.gutter-horizontal {
  cursor: row-resize;
  width: 100%;
  height: 5px;
}

.gutter-vertical {
  cursor: col-resize;
  width: 5px;
  height: 100%;
}