.splitter {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seperator {
  cursor: col-resize;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  width: 5px;
  max-width: 10px;
  height: 100%;
}

#first {
  background-color: green;
}

#second {
  background-color: red;
}