.split-view {
  width: 100%;
  display: flex;
}

.gutter { flex: 0 0 10px; }

.split-view.horizontal {flex-direction: row;}
.split-view.vertical {flex-direction: column;}

.split-view.horizontal>.gutter {
  cursor: col-resize;
}

.split-view.vertical>.gutter {
  cursor: row-resize;
}